.footer {
  background: #1c1c1c;
  color: #f1e9e4;
  padding: 32px 0 40px 0;
}

.container {
  display: grid;
  grid-template-areas:
    "logo"
    "contacts"
    "author"
    "copyright";
  grid-template-columns: 1fr;
  gap: 24px;
}

.logo {
  .logo__name {
    width: 130px;
    height: 50px;
  }

  .logo__icon {
    width: 69px;
    height: 52px;
  }
}

@media (min-width: 580px) {
  .container {
    grid-template-areas:
      "logo contacts"
      "author ."
      "copyright .";
  }
}
